## Separating excel columns in individual sheets

In [15]:
import pandas as pd

In [16]:
data = pd.read_csv('1_ML_Datas/car-sales.csv')
data

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [17]:
for car in data['Make'].unique():
    print(car)

Toyota
Honda
BMW
Nissan

In [18]:
writer = pd.ExcelWriter('NARESH.xlsx', engine='xlsxwriter')
for car in data['Make'].unique():
    newDf = data[data['Make']==car]
    newDf.to_excel(writer, sheet_name=car, index=False)
writer.close()

## Combining separate sheets in one

In [33]:
file_name = 'NARESH.xlsx'
pd.ExcelFile(file_name).sheet_names

['Toyota', 'Honda', 'BMW', 'Nissan']

In [34]:
list(pd.read_excel(file_name, None).keys())

['Toyota', 'Honda', 'BMW', 'Nissan']

In [37]:
writer = pd.ExcelWriter('COMBINED.xlsx', engine='xlsxwriter')
dfs = []
for sht in pd.ExcelFile(file_name).sheet_names:
    read = pd.read_excel(file_name, sheet_name=sht)
    dfs.append(read)
df=pd.concat(dfs, ignore_index=True)
df.to_excel(writer, sheet_name='AllData', index=False)
writer.close()