In [9]:
import pandas as pd

In [10]:
df = pd.read_csv('1_ML_Datas/sales.csv')

In [11]:
df.head()

   order_id  customer_id  product_id  quantity   price  order_date region
0         1          162          29         1  492.11  2024-02-03  North
1         2          133          79         1   76.00  2023-04-01   East
2         3          179          81         3  441.70  2023-12-07  South
3         4          120          68         1  289.98  2024-08-07  North
4         5           42           2         1  236.52  2025-03-12   West

In [17]:
writer = pd.ExcelWriter('splitted_region_data.xlsx', engine='xlsxwriter')

In [18]:
for region in df['region'].unique():
    df_n = df[df['region']==region]
    df_n.to_excel(writer, sheet_name=region, index=False)
writer.close()